# --- Symfony ---
/var/
/vendor/
/.env
.env.local
.env.*.local
/public/bundles/
/config/secrets/prod/prod.decrypt.private.php

# --- Webpack Encore (assets compilés) ---
/public/build/
/public/hot
/build/

# --- Node.js ---
/node_modules/
/npm-debug.log*

# --- Logs ---
*.log
*.cache

# --- Tests ---
/phpunit.xml
/phpunit.xml.dist

# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride

# --- IDEs & éditeurs ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --- Autres fichiers à ignorer ---
*.swp
*.bak
*.tmp
*.old
*.orig

