{% extends 'base.html.twig' %}

{% block title %}Gestion des Clients - GeniusPro360°{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>Gestion des clients</h1>
  <p class="lead">Ici tu pourras ajouter, éditer ou supprimer tes clients.</p>
</div>
{% endblock %}
