{# templates/blog/index.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <h1>Articles de Blog</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
            </li>
        {% else %}
            <li>Aucun article trouvé.</li>
        {% endfor %}
    </ul>
     <!-- Bouton retour vers la page d'accueil -->
        <a href="{{ path('app_home') }}" class="btn">Retour</a>

</body>
</html>
