<div class="card">
  <div class="card-header">
    <span>Configuration des frais de déplacement</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input type="date" class="form-control" name="fl_ta_date" id="fl_ta_date" value="" required="required">
          <label for="fl_sd">Date</label>
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <div class="form-floating">
            <input type="text" class="form-control" id="fl_ta_sum" name="fl_ta_sum" placeholder="Frais de déplacement à facturer en EUR" required="required">
            <label for="fl_ta_sum">Frais de déplacement</label>
          </div>
          <span class="input-group-text">&euro;</span>
        </div>
      </div>
    </div>
    <div class="form-floating">
      <textarea class="form-control" name="wdesc" placeholder="Informations supplémentaires" id="description" style="height:100px;"></textarea>
      <label for="description">Informations supplémentaires (optionnel)</label>
    </div>
  </div>
</div>
